<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Employee Onboarding Automation Test" parallel="false">

		<listeners>
					<listener class-name = "com.greytip.employeeOnboarding.utlities.ExtentReport"/>
		</listeners>


  				<test name="Employee Onboarding Test">
  				
			  						<parameter name="browser" value="chrome"></parameter>
  	
    						<classes>
      									<class name="com.greytip.employeeOnboarding.testCases.TC_LoginTest_001"/>
      									<class name="com.greytip.employeeOnboarding.testCases.TC_AddEmployee_002"/>
    						</classes>
    						
    						
    						
  				</test> <!-- Test -->
</suite> <!-- Suite -->